# Auto generated
dist/cache
dist/logs
dist/server.jar

dist/world*
dist/.console_history

# User data
dist/*.json

# Plugins
/dist/plugins/WorldGuard/cache
/dist/plugins/WorldEdit/.archive-unpack/9b94df90
/dist/plugins/WorldEdit/sessions
/dist/plugins/SkinsRestorer/Players
/dist/plugins/SkinsRestorer/Skins
/dist/plugins/ProtocolLib/lastupdate
/dist/plugins/LuckPerms/libs
/dist/plugins/AuthMe/authme.log
/dist/plugins/AuthMe/authme.db
/dist/plugins/Essentials/userdata
/dist/plugins/Multiverse-Inventories/players
/dist/plugins/ServerListPlus/PlayerCache.json