# Auto generated
dist/cache
dist/logs
dist/server.jar

dist/world*
dist/.console_history

# Server archives
archive/*

# User data
dist/*.json
passwd.txt

# Plugins
/dist/plugins/WorldGuard/cache
/dist/plugins/WorldEdit/.archive-unpack
/dist/plugins/WorldEdit/sessions
/dist/plugins/SkinsRestorer/Players
/dist/plugins/SkinsRestorer/Skins
/dist/plugins/ProtocolLib/lastupdate
/dist/plugins/LuckPerms/libs
/dist/plugins/AuthMe/authme.log
/dist/plugins/AuthMe/authme.db
/dist/plugins/Essentials/userdata
/dist/plugins/Essentials/trade.log
/dist/plugins/Essentials/usermap.csv
/dist/plugins/Multiverse-Inventories/players
/dist/plugins/ServerListPlus/PlayerCache.json
/dist/plugins/TimeIsMoney/data.dat
/dist/plugins/TimeIsMoney/data
/dist/plugins/TAB/errors.log
/dist/plugins/ChatControl/logs
/dist/plugins/update
/dist/plugins/Multiverse-Inventories/groups
/dist/plugins/Multiverse-Inventories/worlds
/dist/plugins/StayPut/database.db
/dist/plugins/neswarden/joins.yml
/dist/plugins/AuctionHouse/auctions.db
/dist/plugins/AuctionHouse/logs
/dist/plugins/ChestCommands/.upgrades-done